<h1>lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %>
    <%= button_to "Delete", list_path(list), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <% end %>

</ul>
<%= link_to "Create a list", new_list_path, class: "btn btn-primary"%>
