.list-head {
  width: 55%;
  margin: auto;
  text-align: center;
  // position: relative;
}

.new-list-form {
  width: 25%;
  margin: auto;
  margin-top: 100px;

  textarea {
    width: 100%;
    min-height: 100px;
    background-color: lightgray;
  }

  input {
    background-color: lightgray;
  }

  .button-85 {
    background-color: black;
  }

  label {
    position: relative;
    left: 5px;
    top: 35px;
    padding: 0 5px;
    transition: transform 0.3s ease, color 0.3s ease;
    color: black;
  }

  label.file.required {
    display: none;
  }


}

.focused-label {
  position: relative;
    left: 5px;
    top: 0;
    padding: 0 5px;
    transition: transform 0.3s ease, color 0.3s ease;
    color: #B2B2B2;
}

// .floating-label:focus-within label {
//   transform: translateY(-35px);
//   position: relative;
//   color: #B2B2B2;
// }

.floating-label {
  transform: translateY(-35px);
  // position: relative;
  color: #B2B2B2 !important;
}
