.navbar-lewagon {
  justify-content: space-between;
  background:#161616;
  border-bottom: 1px solid #767976;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.listbutton {
  border-radius: 50%;
  background-color: #767976;
  border: 1px solid #484948 ;
  color: #141615;
  text-decoration: none;
  margin: 20px;
  margin-bottom: 10px;
  padding: 7px;
}
